* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color:#110d26;
}
html,
body {
    overflow: auto;
}

nav{
    background-color: rgba(255, 255, 255, 0.808);
}
#hero{
    background-image: url('assets/herobg.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
#nav-menu{
    position: fixed;
    top: 5rem;
    right: 1%;
    flex-direction: column;
    gap: 50px;
    z-index: 20;
    background-color: whitesmoke;
    border: 1px solid rgb(41, 41, 41);
}
#skill-round{
    background: rgb(249,199,79);
    background: radial-gradient(circle, rgba(249,199,79,1) 18%, rgba(249,65,68,1) 80%, rgba(93,70,65,1) 100%);
    animation: bounce 3s infinite;
}
#skill-shadow{
    background-color: lightblue;
    border-radius: 50%;
    filter: blur(5px);
    animation:shadowblur 3s infinite;
}
.icon img{
    filter: brightness(90%);
}
#card:hover{
    cursor: pointer;
}
.icon::before {
    content: '';
    background: rgba(85, 60, 177, 0.651);
    width: 25%;
    height: 100%;
    top: 0;
    left: -200%;
    transform: skew(-45deg);
    position: absolute;
    z-index: 1;
}

#card:hover .icon::before {
    animation: shine 1s forwards;
}


@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
        opacity: 0; /* Fade out */
    }
}

@keyframes bounce{
    50%{
        transform: translateY(-20px);
    }
}

@keyframes shadowblur {
    50%{
        scale: 0.6;
        filter: blur(8px);
    }
}

@media (min-width: 768px) { 
    #nav-menu{
        display: none !important;
    }
}

@media (max-width: 512px) { 
    #main-content{
        padding-top: 100px;
    }
}
@media (max-width: 350px) { 
    #skill-sphere{
        margin-top: 15px !important;
    }
    #main-content{
        margin: 0px 15px;
    }
    #about-content,#skills-content,#projects-content{
        margin: 0px 15px;
    }
    #about-title,#skills-title,#projects-title{
        font-size: 15px !important;
    }
    #about-intro,#skills-intro,#projects-intro{
        font-size: 25px !important;
    }
}
@media (min-width: 300px) { 
    #profession-content{
        height: 108px;
    }
}
@media (min-width: 500px) and (max-width:628px) { 
    #image-content {
        justify-content: center;
    }
    #image-content img{
        height: 70% !important;
        width: 70% !important;
    }
}
@media (max-width: 225px){
    #project-info{
        font-size: 11px;
    }
}
@media (max-width: 200px){
    #tech-logo{
        height: 10%;
    }
}
