* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color:#110d26;
}
html,
body {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    overflow: auto;
}

nav{
    background-color: rgba(255, 255, 255, 0.808);
}
#hero{
    background-image: url('assets/herobg.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
#nav-menu{
    position: absolute;
    top: 5rem;
    right: 1%;
    flex-direction: column;
    gap: 50px;
    z-index: 20;
    background-color: whitesmoke;
    border: 1px solid rgb(41, 41, 41);
}
@media (min-width: 768px) { 
    #nav-menu{
        display: none !important;
    }
}
@media (max-width: 512px) { 
    #main-content{
        padding-top: 100px;
    }
}
@media (max-width: 350px) { 
    #main-content{
        margin: 0px 15px;
    }
    #about-content{
        margin: 0px 15px;
    }
    #about-title{
        font-size: 15px !important;
    }
    #about-intro{
        font-size: 25px !important;
    }
}
